*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

.logo {
    display: inline-block;
    width: 50%;
    padding: 10px;
}

header {
    background-color: #EAC926;
    width: 100vw;
}

.banner-img{
    width: 100vw;
}

.top-header {
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
}

.buscador {
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    padding: 2px 5px;
    width: 50%;
    margin: auto;
    border-radius: 5px;
    overflow: hidden;
}

.buscador form {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.buscador .colocar-texto {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
    margin-top: 10px;
}

.buscador .colocar-texto input[type="text"] {
    padding: 2px;
    border: none;
    background-color: transparent;
    width: 100%;
    font-size: 14px;
}

.buscador button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 2px;
    margin-left: 5px;
}
.buscador .lupa {
    font-size: 10px;
}

header p {
    text-align: center;
}

header nav {
    display: none;
}

header nav ul li {
    list-style-type: none;
}

header nav ul li a {
    font-size: 12px;
    color: #000;
    text-decoration: none;
}

header nav ul {
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
    width: 42%;
}

header div.burguer-menu i{
    color: #fff;
    background-color: #1259c3;
    font-size: 20px;
    padding: 10px;
    margin: 10px 0px 20px 0px;
    border-radius: 5px;
}

header div.burguer-menu {
    text-align: center;
}

main{
    margin: 0 auto;
    width: 90vw;
}

main h3 {
    font-size: 24px;
    padding-top: 16px;
    padding-bottom: 32px;
}

main .precio {
    font-size: 18px;
    width: 100%;
}

main section article h4 {
    font-size: 16px;
}

main .descuento {
    font-size: 16px;
    width: 100%;
    color: #39b54a;
}

main section article {
    margin-bottom: 10px;
    border-top: 10px solid #ebebeb;
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(100, 100, 100, .4);
    transition: all 0.5s;
}

main section article img {
    width: 100%;
}

.info-article {
    border-top: solid 1px #ebebeb;
    padding: 15px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

main section article div i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    color: #39b54a;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    transition: all 0.5s;
}

.desc-prod {
    display: none;
}

footer {
    text-align: center;
    background-color: #fff;
}

footer i {
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259c3;
}

#formulario-registro {
    background-color: #ebebeb;
}

.derechos {
    font-size: 12px;
}

.formularios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}

.formularios input[type="text"]{
    padding: 3px;
    border: 1px solid #ccc;
    background-color: #FFF;
    width: 65%;
    font-size: 14px;
    border-radius: 4px;
}

.formularios input[type="email"]{
    padding: 3px;
    border: 1px solid #ccc;
    background-color: #FFF;
    width: 65%;
    font-size: 14px;
    border-radius: 4px
}

.formularios input[type="user"]{
    padding: 3px;
    border-style: groove;
    border-color: skyblue;
    background-color: #FFF;
    width: 65%;
    font-size: 14px;
    border-radius: 4px
}

.formularios input[type="Password"]{
    padding: 3px;
    border-style: groove;
    border-color: skyblue;
    background-color: #FFF;
    width: 65%;
    font-size: 14px;
    border-radius: 4px
}

input[type="date"] {
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    width: fit-content;
}

.formularios label {
    font-size: 14px;
}

.formularios h3 {
    font-size: 16px;
    padding: 10px;
}

@import url(styles.css);

form div {
    margin-bottom: 10px;
    border-radius: 5%;
    width: 100%;
    text-align: center;
}

.text-field {
    padding: 5px;
    border-radius: 5%;
}

.selecciones {
    display: flex;
    flex-direction: column;
}

.botonForm {
    width: 30%;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.botonSubmit {
    background-color: #1259c3;
    color: #FFF;
}

.botonReset {
    background-color: red;
    color: #FFF;
}

.botonIniciar {
    background-color: #1259c3;
    color: #fff;
    transition: all 0.4s;
}
.boton-iniciar {
    display: flex;
    justify-content: center;
}

.carritoVacio {
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: #0022aa;
}

@media (min-width: 361px) {
    .productos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .desc-prod {
        display: block;
    }
    main section article {
        box-shadow: 0px 0px 10 px rgb(100, 100, 100);
        width: 45%;
    }
    header nav {
        display: flex;
        justify-content: space-between;
    }
    header nav ul li {
        display: flex;
        margin: auto;
        margin-bottom: 10px;
    }
    header div.burguer-menu {
        display: none;
    }
    .formularios {
        display: flex;
        width: 70%;
        margin: auto;
        padding-top: 20px;
    }
}

@media (min-width: 769px){
    .top-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 45vh;
    }
    .banner-img{
        height: 38vh;
    }
    .logo {
        flex: 0 0 35%;
    }
    .buscador {
        flex: 0 0 35%;
        display: flex;
        align-items: center;
    }
    .colocar-texto {
        flex: 1;
    }
    .colocar-texto input {
        width: 100%;
    }
    header p {
        flex: 0 0 30%;
        text-align: right;
    }
    .buscador .colocar-texto {
        white-space: normal;
        text-overflow: initial;
    }
    .buscador button {
        margin-left: 10px;
    }
    main section article {
        width: 22.5%;
    }
    .desc-prod {
        display: none;
    }
    article:hover .desc-prod {
        display: block;
    }
    article:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    article:hover i{
        transform: rotate(-90deg);
    }
    .botonIniciar:hover {
        background-color: #0022aa;
    }
    .botonSubmit:hover {
        background-color: #0022aa;
    }
    .botonReset:hover {
        background-color: hsl(0, 100%, 40%);
    }
    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .info-footer-contenedor {
        display: flex;
        flex: 1;
    }
    .info-footer {
        flex: 1;
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    footer div div i:hover {
        color: #EAC926;
    }
    .derechos {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .formularios {
        display: flex;
        width: 40%;
        margin: auto;
        padding-top: 20px;
    }
}